*.pyc
/virtualenv
*~
*.bak
/.project
/.pydevproject
/.settings
/django_mercadopago.egg-info
/dist
/sample_project/db.sqlite3
/sample_project/djmercadopago_sample_app_settings.py
/db.sqlite3
/virtualenv
.idea
/.tox
